<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Info</title>
</head>
<body>
    <h2>Name</h2>
    <h3><%=pokemonShow.name%></h3>
    <h5><%=pokemonShow.id%></h5>
    <img src="<%=pokemonShow.img%>">
    <h4>Classification and Types</h4>
    <h5><%=pokemonShow.misc.classification%></h5>
    <ul>
    <% for(let i=0; i < pokemonShow.type.length; i++){ %>
    <li><%= pokemonShow.type[i] %></li>
    <% } %>
    </ul>
    <h4>Stats</h4>
    <h5>HP: <%=pokemonShow.stats.hp%></h5>
    <h5>Attack: <%=pokemonShow.stats.attack%></h5>
    <h5>Defense: <%=pokemonShow.stats.defense%></h5>
    <h5>Special Attack: <%=pokemonShow.stats.spattack%></h5>
    <h5>Special Defense: <%=pokemonShow.stats.spdefense%></h5>
    <h5>Speed: <%=pokemonShow.stats.speed%></h5>
    <h4>Damages</h4>
    <h5>Standard: <%=pokemonShow.damages.normal%></h5>
    <h5>Fire: <%=pokemonShow.damages.fire%></h5>
    <h5>Water: <%=pokemonShow.damages.water%></h5>
    <h5>Electric: <%=pokemonShow.damages.electric%></h5>
    <h5>Grass: <%=pokemonShow.damages.grass%></h5>
    <h5>Ice: <%=pokemonShow.damages.ice%></h5>
    <h5>Fight: <%=pokemonShow.damages.fight%></h5>
    <h5>Poison: <%=pokemonShow.damages.poison%></h5>
    <h5>Ground: <%=pokemonShow.damages.ground%></h5>
    <h5>Flying: <%=pokemonShow.damages.flying%></h5>
    <h5>Psychic: <%=pokemonShow.damages.psychic%></h5>
    <h5>Bug: <%=pokemonShow.damages.bug%></h5>
    <h5>Rock: <%=pokemonShow.damages.rock%></h5>
    <h5>Ghost: <%=pokemonShow.damages.ghost%></h5>
    <h5>Dragon: <%=pokemonShow.damages.dragon%></h5>
    <h5>Dark: <%=pokemonShow.damages.dark%></h5>
    <h5>Steel: <%=pokemonShow.damages.steel%></h5>
</body>
</html>